#main {
  width: 800px;
  display:flex;
  justify-content: center;
  margin: 0 auto;
}

.timeformat {
  /*font-family: 'Libre Barcode 39 Text', cursive;*/
  font-family: 'Libre Barcode 39 Extended Text', cursive;

  font-size: 50px;
}

.root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  padding: 0;
  margin: 5px;
}
h3 {
  margin: 5px 15px 5px 0px;
}

.clock, .weather {
  border: solid 5px black;
}

.clock {
  background-color: orange;
}

.weather {
  width: 320px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.autocomplete {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.row-right {
  display: flex;
  justify-content: flex-end;
}
